<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net451" />
  <package id="Dapper.Contrib" version="1.50.4" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net461" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net461" />
  <package id="MiniProfiler.Integrations" version="2.2.0" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net451" />
  <package id="TypeLite" version="1.8.4" targetFramework="net451" />
</packages>